 /* style.css */

 .footer-distributed {
   background-color: #292c2f;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
   box-sizing: border-box;
   width: 100%;
   text-align: left;
   font: bold 16px sans-serif;

   padding: 55px 50px;
   margin-top: 80px;
 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right {
   display: inline-block;
   vertical-align: top;
 }

 /* Footer left */

 .footer-distributed .footer-left {
   width: 40%;
 }

 /* The company logo */

 .footer-distributed h3 {
   color: #ffffff;
   font: normal 36px 'Cookie', cursive;
   margin: 0;
 }

 .footer-distributed h3 span {
   color: #5383d3;
 }

 /* Footer links */

 .footer-distributed .footer-links {
   color: #ffffff;
   margin: 20px 0 12px;
   padding: 0;
 }

 .footer-distributed .footer-links a {
   display: inline-block;
   line-height: 1.8;
   text-decoration: none;
   color: inherit;
 }

 .footer-distributed .footer-company-name {
   color: #8f9296;
   font-size: 14px;
   font-weight: normal;
   margin: 0;
 }

 /* Footer Center */

 .footer-distributed .footer-center {
   width: 35%;
 }

 .footer-distributed .footer-center i {
   background-color: #33383b;
   color: #ffffff;
   font-size: 25px;
   width: 38px;
   height: 38px;
   border-radius: 30%;
   text-align: center;
   line-height: 42px;
   margin: 10px 15px;
   vertical-align: middle;
 }

 .footer-distributed .footer-center i.fa-envelope {
   font-size: 17px;
   line-height: 38px;
 }

 .footer-distributed .footer-center p {
   display: inline-block;
   color: #ffffff;
   vertical-align: middle;
   margin: 0;
 }

 .footer-distributed .footer-center p span {
   display: block;
   font-weight: normal;
   font-size: 14px;
   line-height: 2;
 }

 .footer-distributed .footer-center p a {
   color: #5383d3;
   text-decoration: none;
   ;
 }


 /* Footer Right */

 .footer-distributed .footer-right {
   width: 20%;
 }

 .footer-distributed .footer-company-about {
   line-height: 20px;
   color: #92999f;
   font-size: 13px;
   font-weight: normal;
   margin: 0;
 }

 .footer-distributed .footer-company-about span {
   display: block;
   color: #ffffff;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 20px;
 }

 .footer-distributed .footer-icons {
   margin-top: 25px;
 }

 .footer-distributed .footer-icons a {
   display: inline-block;
   width: 45px;
   height: 35px;
   cursor: pointer;
   background-color: #33383b;
   border-radius: 100px;

   font-size: 30px;
   color: #ffffff;
   text-align: center;
   line-height: 35px;

   margin-right: 3px;
   margin-bottom: 5px;
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 880px) {

   .footer-distributed {
     font: bold 14px sans-serif;
   }

   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right {
     display: block;
     width: 100%;
     margin-bottom: 40px;
     text-align: center;
   }

   .footer-distributed .footer-center i {
     margin-left: 0;
   }

 }

 /* FOOTER
 .page-footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkslategrey;
    color: white;
    text-align: center;
    margin-top: 35%
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    color: white;
  }*/
 body {
   margin: 0;
   font-family: sans-serif;
 }

 .hero {
   /* Sizing */
   width: 100vw;
   height: 100vh;

   /* Flexbox stuff */
   display: flex;
   justify-content: center;
   align-items: center;

   /* Text styles */
   text-align: center;
   color: white;
   /* ADD THIS LINE */

   /* Background styles */
   background-image: url('https://www.wallpaperflare.com/static/87/362/502/books-stack-book-store-stack-of-books-wallpaper.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

 .hero h1 {
   /* Text styles */
   font-size: 5em;
   color: darkred;
   /* Margins */
   margin-top: 0;
   margin-bottom: 0.5em;
 }

 .hero h2 {
   color: darkred
 }

 .hero .btn {
   /* Positioning and sizing */
   display: block;
   width: 200px;
   background-color: saddlebrown;
   /* Padding and margins */
   padding: 1em;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;

   /* Text styles */
   color: white;
   /* CHANGE THIS LINE */
   text-decoration: none;
   font-size: 1.5em;

   /* Border styles */
   border: 3px solid dimgrey;
   /* CHANGE THIS LINE */
   border-radius: 20px;

 }


 * {
   box-sizing: border-box;
 }

 /* Create three equal columns that floats next to each other */
 .column {
   float: left;
   width: 33.33%;
   padding: 10px;
   height: 300px;
 }

 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 .content {
   width: 50%
 }

 a {
   color: red
 }

 /* Arrow in Kitablar button*/
 .arrow-down {
   width: 0;
   height: 0;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 20px solid slateblue;
   margin-left: 35%;
 }