{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-4 offset-md-3">
    <h3>Hesabınıza daxil olun</h3>
    <hr>
    <form method="POST">
      {% csrf_token %}
      {{form|crispy}}
      {% if messages %}
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      {% endif %}
      <br>
      <button type='submit' class='btn btn-danger'>Təsdiqləyin</button>
        <hr>
        <a href = "{% url 'user:register' %}"><p>Hesabınız yoxdursa buradan qeydiyyatdan keçin</p></a>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}